.block {
  position: relative;
  display: inline-block;
  padding: 9px 15px;
  border-radius: 4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  background: #77af12;
  color: #fff;
  cursor: pointer;
}

.block:hover {
  background: #679710;
}

.block::first-letter {
  text-transform: uppercase;
}

.block:disabled {
  background-color: #aaa;
  color: #ffffff;
  pointer-events: none;
}
