.startChatAdvice {
   margin-top: 20px;
   font-size: 13px;
   line-height: 1.2;
   a {
      color: #2a5885;
      &:hover {
         text-decoration: underline;
      }
   }
   b {
      color: #33363c;
   }
}