.block {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 40px;
}

.block p {
  margin-bottom: 10px;
}

.block button {
  float: right;
}

/*Laptops [1024px] */
@media (max-width: 1024px) {
  .block {
    position: relative;
    margin: 15px 0 0 !important;
    border: 1px solid #f0f0ed;
  }
}
