.listTabs {
  margin: 0 -20px;
  padding: 20px 0;
  border-bottom: 1px solid #F0F0ED;
}

.listTabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
}

.listTabItem {
  margin: 0;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: #274a5c;
  cursor: pointer;
}

.listTabItem:hover {
  background-color: #F7F7F7;
}

.listTabItem b {
  margin-left: 3px;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 10px;
  background: #33363C;
  color: #fff;
}

.pagination {
  margin: 0 -20px;
  padding: 20px 0;
  border-bottom: 1px solid #F0F0ED;
}

.pagination > div, .pagination > p {
  padding: 0 20px;
}
