%main-input-data {
   width: 100%;
   max-width: 100%;
   padding: 8px 10px;
   border: 1px solid #f7f7f7;
   border-radius: 4px;
   font-size: 12.5px;
   background: #f7f7f7;
   color: #333;
   &:focus {
      background-color: #fff;
      border: 1px solid #ccc;
   }
}

.textInput {
   input {
      @extend %main-input-data;
      height: 45px;
   }
   input.hasError {
      border: 1px solid #ac5454;
   }
}

.textArea {
   textarea {
      @extend %main-input-data;
      height: 80px;
   }
   textarea.hasError {
      border: 1px solid #ac5454;
   }
}

.checkbox {
   display: inline-flex;
   align-items: center;
   input {
      width: 15px;
      height: 15px;
      margin-right: 10px;
   }
}

.errorMessage {
   display: inline-block;
   padding: 5px 10px 0;
   color: #ac5454;
}