.block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
  grid-gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block textarea {
  font-size: 14px;
}

.block button {
  height: 45px;
}
