.block {
   position: absolute;
   bottom: 20px;
   left: 20px;
   width: calc(100% - 40px);
   display: grid;
   grid-template-columns: 1fr 60px;
   grid-gap: 10px;
   align-items: flex-end;
   textarea {
      font-size: 14px;
   }
   button {
      height: 45px;
   }
}